@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-color: #eceff1;
}
.container {
  background-color: #fafafa;
  min-height: 400px;
  height: 100%;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  margin: 50px auto;
  /* text-align: center; */
}

h1 {
  margin: 12px 0;
  padding-top: 20px;
  color: #b7657b;
  font-family: "Cormorant";
  text-align: center;
}

/* delete button */
.delete {
  background-color: #f2a54f;
  color: black;
  font-weight: bold;
  border: 2px solid grey;
  padding: 18px;
  font-size: 18px;
  display: inline-block;
}
.icon-cross {
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.cross {
  margin-top: 15px;
  height: 20px;
  width: 20px;
}

/* input field  */
.search-input {
  text-align: center;
}
.input {
  padding: 5px 0;
  width: 70%;
  height: 30px;
  font-size: 18px;
  font-style: italic;
  border-radius: 0;
  text-decoration: none;
  margin: 20px 0;
  border: none;
  border-bottom: 1px solid #b7657b;
  text-align: left;
  transition: padding 0.3s ease;
}
.input:focus {
  outline: none;
  padding: 0.8rem;
}

.btn {
  padding: 5px 14px;
  background-color: #b7657b;
  border: none;
  color: #f7eff1;
  font-size: 16px;
  transition: opacity 0.3s ease;
}
.btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.btn:focus {
  outline: none;
}

/* match and history sections */
.match {
  background-color: #f7eff1;
}
.btn-clear {
  border: none;
  border-bottom: 1px solid #b7657b;
  background-color: transparent;
  transition: padding 0.3s ease;
  font-size: 16px;
}
.btn-clear:hover {
  opacity: 0.7;
  cursor: pointer;
  padding: 0.2rem;
}

.btn-clear:focus {
  outline: none;
}

.history {
  height: 300px;
  overflow-y: auto;
  padding: 15px;
}
.history-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
  padding: 10px 5px;
  background-color: #fff;
  margin: 12px 0;
  box-shadow: 0 2px 8px lightgrey;
  border-radius: 3px;
  transition: 0.4s;
}
li:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.footer {
  background: #66b7a3;
  align-items: center;
  height: 100%;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.footer p {
  font-weight: bold;
  color: #f7eff1;
}
